fastapi
uvicorn
langgraph
langchain
langchain-anthropic
anthropic
pydantic
python-dotenv
httpx
langchain-core
mcp
langchain-mcp-adapters
langgraph-checkpoint-sqlite
aiosqlite
aiokafka
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp-proto-http